@font-face {
    font-family: 'latolight';
    src: url('../fonts/../fonts/Lato-Light-webfont.eot');
    src: url('../fonts/../fonts/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/../fonts/Lato-Light-webfont.woff') format('woff'),
         url('../fonts/../fonts/Lato-Light-webfont.ttf') format('truetype'),
         url('../fonts/../fonts/Lato-Light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latomedium';
    src: url('../fonts/../fonts/Lato-Medium-webfont.eot');
    src: url('../fonts/../fonts/Lato-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/../fonts/Lato-Medium-webfont.woff') format('woff'),
         url('../fonts/../fonts/Lato-Medium-webfont.ttf') format('truetype'),
         url('../fonts/../fonts/Lato-Medium-webfont.svg#latomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Palatino-Bold';
  src: url('../fonts/Palatino-Bold.eot');
  src: url('../fonts/Palatino-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Palatino-Bold.woff') format('woff'),
       url('../fonts/Palatino-Bold.ttf') format('truetype'),
       url('../fonts/Palatino-Bold.svg#Palatino-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Palatino-BoldItalic';
  src: url('../fonts/Palatino-BoldItalic.eot');
  src: url('../fonts/Palatino-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Palatino-BoldItalic.woff') format('woff'),
       url('../fonts/Palatino-BoldItalic.ttf') format('truetype'),
       url('../fonts/Palatino-BoldItalic.svg#Palatino-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Palatino-Italic';
  src: url('../fonts/Palatino-Italic.eot');
  src: url('../fonts/Palatino-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Palatino-Italic.woff') format('woff'),
       url('../fonts/Palatino-Italic.ttf') format('truetype'),
       url('../fonts/Palatino-Italic.svg#Palatino-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Palatino-Roman';
  src: url('../fonts/Palatino-Roman.eot');
  src: url('../fonts/Palatino-Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Palatino-Roman.woff') format('woff'),
       url('../fonts/Palatino-Roman.ttf') format('truetype'),
       url('../fonts/Palatino-Roman.svg#Palatino-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

