header {
  background: white;
  width: 100%;
  .holder {
    width: 1000px;
    margin: 0 auto;
    .logo {
      float: left;
      margin-top: 30px;
      margin-bottom: 5px;
      img {
        width: (420/2)+px;
      }
    }
    .main-menu {
      padding: 0;
      margin: 0;
      list-style: none;
      display: block;
      float: left;
      margin-left: 77-22px;
      margin-top: 36px;
      li {
        float: left;
        text-transform: uppercase;
        margin: 0 22px;
        a {
          text-decoration: none;
          color: #183357;
          &.active {
            text-decoration: underline;
          }
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
    a.phone {
      display: block;
      float: right;
      color: inherit;
      text-decoration: inherit;
      margin-top: 36px;
    }
  }
  hr {
    background: url('../images/tail-header.png');
    border: none;
    height: 7px;
    position: relative;
    bottom: -7px;
  }
}