extends layout

block vars
 - var bodyClass = "about";

block content
  .content
    .big-visual
      .holder
        h1 О поселке
        .description.
          Коттеджный поселок «Высокий берег» – прекрасный выбор<br>
          для тех, кто ценит тишину и единение с природой в сочетании<br>
          с комфортом и безопасностью.
    .holder.col-2.chess
      .row
        img.visual.map(src="/images/visual-map.png")
        .text
          h2 Расположение
          p.
            Коттеджный поселок &laquo;Высокий берег&raquo;&nbsp;&mdash; это
            загородный жилой комплекс, который воплотил в&nbsp;себя идею
            современного загородного дома для постоянного проживания
            с&nbsp;высоким уровнем комфорта, а&nbsp;также развитой
            инфраструктурой. Он&nbsp;расположен
            в&nbsp;<nobr>Юго-Восточной</nobr> части Ростовской области
            Неклиновского района, в&nbsp;30&nbsp;минутах езды от&nbsp;Ростова,
            а&nbsp;так&nbsp;же 10&nbsp;минутах от&nbsp;Таганрога. Кроме того,
            здесь находится станция электропоезда.
          p.
            Руководство  района готово оказывать всестороннюю поддержку проекта.
          p ПЛОЩАДЬ ПОСЕЛКА<br><strong>41 га</strong>
      .row
        .text
          h2 Новый образ жизни
          p.
            Дом в&nbsp;коттеджном поселке &laquo;Высокий
            берег&raquo;&nbsp;&mdash; это новый образ жизни, альтернатива
            проживания в&nbsp;типовом многоэтажном здании, он&nbsp;подходит для
            молодых семей, стремящихся жить и&nbsp;воспитывать детей
            в&nbsp;окружении природы, на&nbsp;своей земле, вдали от&nbsp;смога,
            пыли и&nbsp;вечных пробок; а&nbsp;также пожилого населения, которое
            сможет отдохнуть от&nbsp;бешеного ритма городской суеты.
          p.
            &laquo;Высокий берег&raquo;&nbsp;&mdash; новый, современный жилой
            комплекс, который объединяет достоинства загородного коттеджного
            поселка с&nbsp;городской инфраструктурой.
        .icons-title-holder
          .unit
            img.ico(src="/images/ico-ball.png")
            .title Спортивные площадки
          .unit
            img.ico(src="/images/yacht.png")
            .title Яхт-клуб
          .unit
            img.ico(src="/images/ico-cart.png")
            .title Супермаркет
          .unit
            img.ico(src="/images/ico-baby.png")
            .title Детский сад
          .unit
            img.ico(src="/images/ico-coast.png")
            .title Собственный пляж
          .unit
            img.ico(src="/images/ico-book.png")
            .title Школа
      .row
        img.visual(src="/images/visual-nature-1.png")
        .text
          h2 Экология
          p.
            О&nbsp;благоприятной экологической обстановке в&nbsp;поселке
            свидетельствует строительство в&nbsp;прямой видимости от&nbsp;него
            современного тепличного комплекса. Перед его строительством долго
            изучалась экология района. Непосредственно рядом с&nbsp;поселком
            в&nbsp;Таганрогский залив вподает небольшая река Самбечка. Начато
            оформление документов на&nbsp;очистку и&nbsp;обустройство пляжной
            линии протяженностью 900&nbsp;метров.
          p.
            В&nbsp;ближайшее время на&nbsp;смежном участке будет начато
            строительство комплекса для занятий скайсерфингом. С&nbsp;высокого
            берега (12&nbsp;метров) открывается отличный вид на&nbsp;город
            Таганрог и&nbsp;Таганрогский залив.
      .row
        .text
          h2 Экологические подворья
          p.
            На&nbsp;территории поселка будут заложены экологические
            подворья&nbsp;&mdash; особые зоны с&nbsp;виноградниками. Для этого
            мы&nbsp;привлечем одних из&nbsp;лучших виноградарей юга России. Ваша
            собственная усадьба с&nbsp;элитными виноградниками может стать
            солидным источником доходов. Даже если у&nbsp;Вас нет опыта,
            мы&nbsp;подберем отличных специалистов, которые будут с&nbsp;особой
            заботой ухаживать за&nbsp;Вашим хозяйством. Вы&nbsp;только
            представьте, как будете угощать друзей вином, сделанным собственными
            руками! Это&nbsp;&mdash; не&nbsp;просто увлечениее, это новый образ
            жизни.
        img.visual(src="/images/visual-nature-2.png")