footer {
  padding-bottom: 35px;
  margin-top: 30px;
  position: absolute;
  width: 100%;
  bottom: 0;
  //top: -91px;
  text-align: center;
  @include clrfx();
  background: white;
  .holder {
    width: 1000px;
    margin: 0 auto;
    .left {
      float: left;
    }
    .right {
      float: right;
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .center {
      display: inline-block;
      text-align: left;
      margin-top: 5px;
      .unit {
        float: left;
        margin: 0 25px;
        .title {
          margin-bottom: 5px;
        }
      }
      a {
        color: #2a3035;
        text-decoration: none;
      }
    }
  }
  hr {
    background: url('../images/tail-header.png');
    border: none;
    height: 7px;
    position: relative;
    top: -13px;
    transform: rotate(180deg);
  }
}