body.index {
  background: url('../images/bg-index.jpg') no-repeat center center;
  background-size: cover;
  header {
    background: none;
    hr {
      visibility: hidden;
    }
  }
  h1 {
    font-size: 62px;
    color: #132236 !important;
  }
  .about {
    font-size: 21px;
  }
  &>.holder {
    color: #132236 !important;
  }
  .where {
    margin-top: 34px;
    margin-bottom: 40px;
    color: #132236 !important;
    .ico-mark {
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
    }
    .title {
      display: inline-block;
      vertical-align: middle;
      color: #132236 !important;
    }
  }
  footer {
    background: none;
    color: white;
    .center {
      display: none;
    }
    hr {
      visibility: hidden;
    }
  }
  //min-height: 580px;
}