extends layout

block vars
 - var bodyClass = "index";

block content
  .horizontal-center-wrapper.vertical-center-wrapper
    .support
    .holder
      h1 Высокий берег
      .about.
        Уникальный коттеджный поселок на берегу Азовского моря.<br>
        Жить у моря с комфортом возможно.<br>
        Добро пожаловать домой.
      .where
        .ico-mark
          img(src="/images/ico-mark.png")
        .title Ростовская область, с. Вареновка,<br> берег Азовcкого моря
      a.btn(href="") Выбрать дом