extends layout

block vars
 - var bodyClass = "project-list";

block content
  .content.square-list
    .holder
      h1 Проекты таунхаусов
      a.unit(href="")
        .visual(style="background-image:url('http://dummyimage.com/497x305/');")
        .info
          .small 67м<sup>2</sup>
          .big
            .wrapper
              h2 Одноэтажный таунхаус, 67м<sup>2</sup>
              .info от 35 000 руб. за м<sup>2</sup>
      a.unit(href="")
        .visual(style="background-image:url('http://dummyimage.com/497x305/');")
        .info
          .small 67м<sup>2</sup>
          .big
            .wrapper
              h2 Одноэтажный таунхаус, 67м<sup>2</sup>
              .info от 35 000 руб. за м<sup>2</sup>
      a.unit(href="")
        .visual(style="background-image:url('http://dummyimage.com/497x305/');")
        .info
          .small 67м<sup>2</sup>
          .big
            .wrapper
              h2 Одноэтажный таунхаус, 67м<sup>2</sup>
              .info от 35 000 руб. за м<sup>2</sup>
      a.unit(href="")
        .visual(style="background-image:url('http://dummyimage.com/497x305/');")
        .info
          .small 67м<sup>2</sup>
          .big
            .wrapper
              h2 Одноэтажный таунхаус, 67м<sup>2</sup>
              .info от 35 000 руб. за м<sup>2</sup>
      a.unit(href="")
        .visual(style="background-image:url('http://dummyimage.com/497x305/');")
        .info
          .small 67м<sup>2</sup>
          .big
            .wrapper
              h2 Одноэтажный таунхаус, 67м<sup>2</sup>
              .info от 35 000 руб. за м<sup>2</sup>