extends layout

block vars
 - var bodyClass = "project-detail";

block content
  .slave-menu
    .holder
      h2 Выберите тип таунхауса
      .row
        .type
          .name
            img.ico(src="/images/ico-house-1.png")
            .title 1 этажные
          a.unit.active(href="") 67 м<sup>2</sup>
          a.unit(href="") 75 м<sup>2</sup>
          a.unit(href="") 89 м<sup>2</sup>
        .type
          .name
            img.ico(src="/images/ico-house-2.png")
            .title 2 этажные
          a.unit(href="") 138 м<sup>2</sup>
          a.unit(href="") 141 м<sup>2</sup>
  
  .content
    .holder.col-2.wside
      .row
        .text
          h1 Одноэтажный таунхаус, 67м<sup>2</sup>
          p.
            <nobr>1-этажный</nobr> проект дома сочетает в&nbsp;себе компактность
            и&nbsp;удобство. Несмотря на&nbsp;небольшую площадь, все комнаты
            просторные и&nbsp;уютные, а&nbsp;поддерживать в&nbsp;порядок
            в&nbsp;таком доме не&nbsp;сложно. Основное преимущество
            <nobr>1-этажного</nobr> дома&nbsp;&mdash; быстрый доступ
            ко&nbsp;всем помещениям, а&nbsp;также безопасность в&nbsp;виду
            отсутствия лестниц, что особенно важно и&nbsp;актуально для семей
            с&nbsp;детьми или пожилых людей.
        .side
          .title Цена
          strong от 35 000 руб./м<sup>2</sup>
      .row
        .visual-with-points
          .img(style="background-image: url('/images/visual-house.jpg')")
          .marks
            .mark(style="top:50px; left: 150px;")
              a.plus
              a.cross
              .wrapper
                .text
                  p.
                    Благоустройство территории
                    включает в себя озеленение
                    и мощение
            .mark(style="top:200px; left: 300px;")
              a.plus
              a.cross
              .wrapper
                .text
                  p.
                    Благоустройство территории
                    включает в себя озеленение
                    и мощение
      .row.nomargin
        .text.
          <p>Строительство и&nbsp;оснащение осуществляется с&nbsp;использованием
          последних технологий в&nbsp;данной сфере. Покупая таунхаус,
          Вы&nbsp;получаете в&nbsp;собственность земельный участок. При
          строительстве дома используется газоблок, известный своими
          энергосберегающими свойствами при небольших затратах ресурсов,
          а&nbsp;для облицовки&nbsp;&mdash; кирпич, кроме того, предусмотрен
          каменный цоколь. Крыша дома покрывается мягкой кровлей. Водоснабжение
          осуществляется через индивидуальную скважину, поэтому
          Вы&nbsp;не&nbsp;будете зависеть от&nbsp;городских коммуникаций.
          В&nbsp;доме будет установлен электрокотел или индукционный котел,
          который будет поддерживать необходимую температуру воздуха в&nbsp;доме
          в&nbsp;любое время года. К&nbsp;моменту сдачи проекта
          в&nbsp;эксплуатацию будет осуществлена разводка электричества
          по&nbsp;дому (ввод от&nbsp;10 кВт). На&nbsp;участке установлена
          автономная канализация <nobr>ЭКО-М-1</nobr>, которая прекрасно
          обслуживает семью до&nbsp;пяти человек. Обслуживание такого очистного
          сооружения требует минимальных усилий. Дом будет полностью готов для
          чистовой отделки, поэтому Вы&nbsp;сможете сразу приступить к&nbsp;тому,
          что придать ему Ваш неповторимый уют и&nbsp;оформление.</p>
          
          <p>Также предусмотрена автостоянка и&nbsp;<nobr>мини-генератор</nobr>
          на&nbsp;веранде, что дает Вам неоспоримый дополнительный комфорт. Территория
          всего земельного участка благоустроена: устанавливается наружное освещение,
          обеспечен комфортный подъезд к&nbsp;дому. Участок огорожен забором.
          В&nbsp;поселке есть вся необходимая благоустроенная инфраструктура для
          комфортного проживания. Поэтому о&nbsp;безопасности можно
          не&nbsp;беспокоиться.</p>
        .side
          .unit
            .title Жилая площадь
            strong 67,0 м<sup>2</sup>
          .unit
            .title Участок
            strong от 2 соток
          .unit
            .title Автостоянка
            strong для 1 автомобиля
      .row.nomargin.visual-hover
        .text
          .project-visual-wrapper.stages
            .stage
              img(src="/images/visual-detail-project.png")
            .stage
              img(src="/images/visual-detail-project.png")
        .side
          .stages
            a.unit(href="")
              .head
                img.ico(src="/images/ico-digit-1.png")
                .title Этаж
            a.unit(href="")
              .head
                img.ico(src="/images/ico-digit-2.png")
                .title Этаж
          .unit
            a.download-file(href="")
              img.ico(src="/images/ico-pdf.png")
              .info
                .filename Генеральный план.pdf
                .size 12мб